<body id="cvContent">
  <div class="cv-container">
    <header>
      <div class="profile">
        <img
          src="../../assets/passport.jpg"
          alt="Profile Picture"
          class="profile-pic"
        />
        <div class="contact-info">
          <h1>Mst.Afrin Sultana</h1>
          <p>Email: afrin12124gmail.com</p>
          <p>Phone: 01879633294</p>
          <p>
            LinkedIn:
            <a
              href="https://www.linkedin.com/in/afrin-sultana-9b2740327/"
              target="_blank"
              >LinkedIn Profile</a
            >
          </p>
          <p>
            GitHub:
            <a href="https://github.com/AfrinSultana-Engineer" target="_blank"
              >GitHub Profile</a
            >
          </p>
        </div>
      </div>
    </header>

    <section class="summary">
      <h2>Professional Summary</h2>
      <p>
        Highly motivated and experienced web developer with over 3 months of
        experience in Full Stack development. Proven ability to create
        innovative solutions and manage complex projects efficiently. Adept at
        working with a variety of programming languages and tools.
      </p>
    </section>

    <section class="experience">
      <h2>Work Experience</h2>
      <div class="job">
        <h3>Intern as a Full Stack Engineer - Softlab IT</h3>
        <span class="date">July 2024 - Present</span>
        <ul>
          <li>
            Developed and maintained responsive websites using HTML, CSS,
            JavaScript, and Angular.
          </li>
          <li>
            Collaborated with designers and project managers to deliver
            high-quality web projects.
          </li>
          <li>Implemented SEO best practices to improve site rankings.</li>
          <li>Conducted software testing.</li>
        </ul>
      </div>
      <div class="job">
        <h3>Industrial Attachment - ICMAB</h3>
        <span class="date">May 2024 - June 2024</span>
        <ul>
          <li>Developed a website named Tourism Management System.</li>
        </ul>
      </div>
    </section>

    <section class="education">
      <h2>Education</h2>
      <div class="degree">
        <h3>BSc in Computer Science and Engineering</h3>
        <span class="school"
          >University of Information Technology and Sciences</span
        >
        <span class="date">September 2020 - June 2024</span>
        <p>CGPA - 3.73</p>
      </div>
    </section>

    <section class="skills">
      <h2>Achievements</h2>
      <ul>
        <li>MIST Leetcon Contest 2023 (Participant)</li>
        <li>Flag Hunt Contest 2022 (Participant)</li>
      </ul>
    </section>

    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li>Languages: JavaScript, C++, HTML, CSS</li>
        <li>Frameworks: Angular, Bootstrap, Tailwind CSS</li>
        <li>Database: MongoDB, MySQL</li>
        <li>Tools: VS Code, SQL</li>
        <li>Version Control: Git</li>
      </ul>
    </section>

    <footer>
      <canvas #myCanvas width="500" height="300"></canvas>
      <button>Download CV as PDF</button>
    </footer>
  </div>
</body>
