* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.cv-container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.contact-info h1 {
    font-size: 2em;
    color: #333;
}

.contact-info p {
    margin: 5px 0;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #2a9d8f;
    border-bottom: 2px solid #2a9d8f;
    padding-bottom: 5px;
}


section {
    margin-bottom: 30px;
}

.job, .degree {
    margin-bottom: 20px;
}

.job h3, .degree h3 {
    font-size: 1.4em;
    color: #333;
}

.date {
    float: right;
    font-size: 0.9em;
    color: #777;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

button{
    background-color: #2a9d8f;
    border-radius: 30px;
    color: white;
    height: 50px;
    width: 100px;
    border-style: none;
}

button:hover{
    background-color: purple;
}