<body>
  <div class="invoice-container">
    <div class="header">
      <div class="header-down">
        <div class="logo">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_maCsKsnyMPSjofwbXupdhWLCDz1jvuz6Kw&s"
            alt="Halal Food Logo"
          />
        </div>

        <div class="company-info">
          <p>www.halalfood.live</p>
          <p class="head-office">
            Head Office: 115-0045 東京都北区赤羽1丁目1-6-3
          </p>
          <p>Telephone: 080-4812-7668</p>
          <p>Email: support&#64;halalfood.live</p>
        </div>
      </div>

      <div class="invoice-info">
        <p><strong>Invoice ID:</strong> <span>SL-0153</span></p>
        <p><strong>Date:</strong> <span>Sep 18, 2024</span></p>
      </div>
    </div>

    <div class="order-details">
      <div class="left">
        <h4>Order Info:</h4>
        <p><strong>Order ID: </strong> <span>#0153</span></p>
        <p><strong>Date Added: </strong> Sep 19, 2024</p>
        <p><strong>Payment Status: </strong> <span>Unpaid</span></p>
        <p><strong>Total Product: </strong> <span>Items</span></p>
      </div>
      <div class="right">
        <p><strong>Delivery Address:</strong></p>
        <p><strong>Name: </strong> <span>Ab. Rahim</span></p>
        <p><strong>Prefecture: </strong> Tokyo</p>
        <p><strong>Post Code: </strong> 1150045</p>
        <p><strong>City / Town:</strong> AKABANE, TOKYO</p>
        <p><strong>Address: </strong>東京都北区赤羽1丁目1-6-3</p>
        <p><strong>Phone: </strong> +8107085225814</p>
      </div>
    </div>

    <table class="product-table">
      <thead>
        <tr>
          <th>SL</th>
          <th>Product</th>
          <th>Weight (Kg)</th>
          <th>Unit</th>
          <th>Quantity</th>
          <th>Discount</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Wai Wai Noodles Chicken Flavor (70g)</td>
          <td>0.07</td>
          <td>71</td>
          <td>4</td>
          <td>0</td>
          <td>60</td>
          <td>240</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Wai Wai Noodles Chicken Flavor (70g)</td>
          <td>0.07</td>
          <td>71</td>
          <td>4</td>
          <td>0</td>
          <td>60</td>
          <td>240</td>
        </tr>
      </tbody>
    </table>

    <div class="total-summary">
      <div class="left">
        <p><strong>Total Weight:</strong> <span>0.28 Kg</span></p>
        <p>
          <strong>Preferred Delivery Date:</strong> <span>Sep 19, 2024</span>
        </p>
        <p>
          <strong>Preferred Delivery Time:</strong> <span>12 PM – 2 PM</span>
        </p>

        <p><strong>Note:</strong> <span>N/A</span></p>
      </div>
      <div class="right">
        <table class="summary-table">
          <tbody>
            <tr>
              <td><strong>Sub Total</strong></td>
              <td>240 ¥</td>
            </tr>
            <tr>
              <td><strong>Delivery Charge</strong></td>
              <td>0 ¥</td>
            </tr>
            <tr>
              <td><strong>Tax</strong></td>
              <td>19.20 ¥</td>
            </tr>
            <tr>
              <td><strong>Discount (-)</strong></td>
              <td>0 ¥</td>
            </tr>
            <tr>
              <td><strong>User Reward Points</strong></td>
              <td>0</td>
            </tr>
            <tr>
              <td><strong>Reward Amount (-)</strong></td>
              <td>0 ¥</td>
            </tr>
            <tr>
              <td><strong>Additional Discount (-)</strong></td>
              <td>0 ¥</td>
            </tr>
            <tr>
              <td>
                <strong><strong>Grand Total</strong></strong>
              </td>
              <td>259.2 ¥</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="signature-section">
      <div class="received-by">
        <p>Received By</p>
      </div>
      <div class="authorized-by">
        <p>Authorized By</p>
      </div>
    </div>

    <div class="footer">
      <p>Thank you for your order from www.halalfood.live</p>
    </div>
  </div>
</body>
